<nav class="navbar">
	<a href="{{ path('accueil') }}">Accueil</a>
	<a href="{{ path('listing') }}">Films</a>
	<a href="{{ path('session_index') }}">Sessions</a>
	<a href="{{ path('create_film') }}">Create film</a>
	<a href="{{ path('session_new') }}">Create session</a>
</nav>
